<div class="container">

  <div class="row">
    <button id="begin" class="span6">Set Car Location</button>
    <button id="start" class="span6">Get me to my car!</button>
  </div>

  <div class="row">
    <div class="span6">
      <div id="map_canvas"></div>
    </div>
    <div class="span6">
      <div id="street_canvas"></div>
    </div>
  </div>
</div>
